@font-face {
  font-family: 'Bangla';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("assets/webfonts/Bangla.ttf");
  src: url("assets/webfonts/Bangla.ttf") format("truetype"),
       url("assets/webfonts/Bangla.woff") format("woff");
}
.bangla, 
.bn {
    font-family: Bangla, Arial, Helvetica, sans-serif;
    line-height: 1.1;
}
.english, 
.en {
    font-family: Arial, Helvetica, sans-serif;
}

/* Contain floats: clear both */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:hover { text-decoration: none }
a:focus { outline: 0 solid; text-decoration: none}
img {
    max-width: 100%;
    height: auto;
}
input:focus, button:focus, textarea:focus, a:focus {outline: none}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
p:last-child {
    margin-bottom: 0
}

/*New CSS Here*/
