

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.english, 
.en {
    font-family: Arial, Helvetica, sans-serif;
}

.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:hover { text-decoration: none }
a:focus { outline: 0 solid; text-decoration: none}
img {
    max-width: 100%;
    height: auto;
}
input:focus, button:focus, textarea:focus, a:focus {outline: none}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
p:last-child {
    margin-bottom: 0
}

/*New CSS Here*/
.sec1 {
  height: 100vh;
  width: 100%;
  position: relative;
}

.sp {
  padding: 50px 0px;
}

.bg1 {   /* - (Ponchanon). */
  background: linear-gradient(45deg, rgba(0,0,128,0.7) 0%, rgba(255,0,0,0.6) 100%), url('assets/img/kdr.jpg'), no-repeat;
  /* background-blend-mode: multiply; */
  background-size: cover;
  background-position: top right;
}

.bg2 {
  background-image: url('assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container {
  width: 1200px;
  margin: auto;
  position: relative;
}

.h-flex {
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h-flex a {
  width: 150px;
  height: auto;
}

.h-flex span {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.flex {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex h1 {
  font-size: 75px;
}

.flex h3 {
  text-transform: uppercase;
}

.btn {
  border-radius: 50px;
  padding: 10px 25px;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.btn::before {
  content: "";
  border: 1px solid white;
  border-radius: 50px;
  height: 100%;
  width: 100%;
  position: absolute;
  left: -0.5px;
  top: -0.5px;
  z-index: -1;
}

.btn:hover.btn::before {
  display: none;
}

.btn:hover {
  letter-spacing: 2px;
  background: linear-gradient(45deg, navy 0%, red 100%);
}

.flex-2 {
  display: flex;
  align-items: stretch;
}

.item {
  flex: 1;
}

.flex-a {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.btn-2 {
  display: inline-block;
  color: white;
  border: none; 
  border-radius: 50px;
  padding: 10px 25px;
  transition: 0.3s;
  cursor: pointer;
  background: linear-gradient(45deg, navy 0%, red 100%);
  position: relative;
}

.btn-2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -0.5px;
  left: -0.5px;
  border: 1px solid red;
  border-radius: 50px;
  opacity: 0;
}

.btn-2:hover.btn-2::after {
  opacity: 1;
}

.btn-2:hover {
  color: #000;
  letter-spacing: 2px;
  background: transparent;
}

.flex-a>p,
.flex-a>div {
  margin: 7px 0px;
  max-width: 90%;
}

.sec3 {
  position: relative;
}

.ab {
  color: white;
  width: 100%;
  box-sizing: border-box;
  padding: 50px 70px;
}


.flex-img {
  padding: 10px 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.flex-img-item {
  width: calc(50% - 10px);
}

.flex-img-item img {
  width: 100%;
  height: auto;
}


/* Slide Css */
.sec-2-div {
  width: 48%;
  height: auto;
  display: inline-block;
  box-sizing: border-box;
}
.s-item > img {
  width: 100%;
  height: auto;
}

#slide {
  padding-bottom: 35px;
}

#slide .owl-carousel {
    position: relative;
}

/* #slide .owl-carousel:hover .owl-nav {
    display: block;
} */

#slide .owl-carousel:hover .owl-dots {
    display: block;
}

/* .owl-nav {
    display: none;
    height: 50px;
    width: 100%;
    left: 0;bottom: calc(50% - 25px);
    position: absolute;
}

.owl-prev span, .owl-next span {
    font-size: 70px;
    font-weight: bold;
    color: white;
    line-height: 0.5;
}

.owl-prev {
    position: absolute;
    left: 85px;
}

.owl-next {
    position: absolute;
    right: 85px;
}
 */
.owl-dots {
    display: block;
    position: absolute;
    text-align: center;
    height: 25px;
    width: 100%;
    left: 0;
    bottom: 0;
    /* background: rgba(128, 128, 128, 0.274); */
}

.owl-dots button.owl-dot {
    margin: 0px 5px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: red;
}

.owl-dots button.active {
    background: blue;
    width: 18px;
    height: 12px;
    transition: 0.3s;
}
